# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
absl-py=0.15.0=pypi_0
astunparse=1.6.3=pypi_0
ca-certificates=2023.01.10=h06a4308_0
cached-property=1.5.2=pypi_0
cachetools=5.0.0=pypi_0
certifi=2022.12.7=py37h06a4308_0
cffi=1.15.1=pypi_0
charset-normalizer=2.0.12=pypi_0
click=8.0.4=py37h06a4308_0
cycler=0.11.0=pypi_0
cython=0.29.32=pypi_0
flask=2.2.2=py37h06a4308_0
flatbuffers=1.12=pypi_0
flit-core=3.6.0=pyhd3eb1b0_0
fonttools=4.30.0=pypi_0
gast=0.4.0=pypi_0
glumpy=1.2.0=pypi_0
google-auth=2.6.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.34.1=pypi_0
h5py=3.1.0=pypi_0
idna=3.3=pypi_0
imageio=2.16.1=pypi_0
importlib-metadata=4.11.2=pypi_0
itsdangerous=2.0.1=pyhd3eb1b0_0
jinja2=3.1.2=py37h06a4308_0
joblib=1.1.0=pypi_0
keras-nightly=2.5.0.dev2021032900=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.2=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libstdcxx-ng=9.3.0=hd4cf53a_17
markdown=3.3.6=pypi_0
markupsafe=2.1.1=py37h7f8727e_0
matplotlib=3.3.4=pypi_0
memory-profiler=0.61.0=pypi_0
ncurses=6.3=h7f8727e_2
networkx=2.6.3=pypi_0
numpy=1.20.0=pypi_0
oauthlib=3.2.0=pypi_0
opencv-contrib-python=4.5.4.60=pypi_0
opencv-python=4.5.4.60=pypi_0
openssl=1.1.1t=h7f8727e_0
opt-einsum=3.3.0=pypi_0
packaging=21.3=pypi_0
pandas=1.3.5=pypi_0
pillow=9.0.1=pypi_0
pip=21.2.2=py37h06a4308_0
plyfile=0.7.4=pypi_0
protobuf=3.19.4=pypi_0
psutil=5.9.4=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.21=pypi_0
pygame=1.9.6=pypi_0
pyopengl=3.1.5=pypi_0
pyparsing=3.0.7=pypi_0
python=3.7.11=h12debd9_0
python-dateutil=2.8.2=pypi_0
pytz=2022.1=pypi_0
pywavelets=1.2.0=pypi_0
pyyaml=5.4.1=pypi_0
readline=8.1.2=h7f8727e_1
requests=2.27.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
rsa=4.8=pypi_0
ruamel-yaml=0.17.17=pypi_0
ruamel-yaml-clib=0.2.6=pypi_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.23.1=pypi_0
scipy=1.7.3=pypi_0
setuptools=58.0.4=py37h06a4308_0
six=1.15.0=pypi_0
sqlite=3.37.2=hc218d9a_0
tensorboard=2.8.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorboardx=2.4=pypi_0
tensorflow-estimator=2.5.0=pypi_0
tensorflow-gpu=2.5.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2021.11.2=pypi_0
tk=8.6.11=h1ccaba5_0
torch=1.10.2+cu113=pypi_0
torchaudio=0.10.2+cu113=pypi_0
torchvision=0.11.3+cu113=pypi_0
tqdm=4.28.1=pypi_0
triangle=20220202=pypi_0
typing-extensions=3.7.4.3=pypi_0
typing_extensions=4.4.0=py37h06a4308_0
urllib3=1.26.8=pypi_0
werkzeug=2.0.3=pypi_0
wget=3.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h7b6447c_0
zipp=3.7.0=pypi_0
zlib=1.2.11=h7f8727e_4
